* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(241, 232, 217);
}

/*style header*/

header {
  display: flex;
}

#logo {
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid black;
  display: inline-block;
  padding: 0.1px;
}
ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

li {
  margin-left: 2rem;
}

a {
  color: black;
}



@media screen and (max-width: 540px) {
  .category-container, ul {
    flex-direction: column;
    align-items: start;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 530px) {
  .category-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr) ;
  }
}

@media screen and (min-width: 1025px) {
  .category-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr) ;
  }
}
.main-img {
  width: 15%;
}

.project-img {
  width: 100%;
}

footer {
  border-top: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;

}

