* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}

/*style header*/

#logo {
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid black;
  display: inline-block;
  padding: 0.1px;
}
ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

.main-img {
  width: 30%;
}

footer {
  border-top: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;

}
