h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #000000;
}

body {
  background-color: #fbfbfb;
}

footer {
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
